* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
@mixin unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
@mixin cool-button {
	resize: none;
	background:rgba(0,0,0,0.5);
	outline:none;
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
	padding:0.25em 2em;
	border-radius:10em;
	border:none;
	box-shadow:inset 2px 2px 1px rgba(0,0,0,0.55),inset -2px -2px 1px -1px rgba(0,0,0,0.3);
	position:relative;
	transition:background 0.25s ease-out, color 0.75s ease-out;
	&:focus {
		background:rgba(0,0,0,0.30);
		color:#efefef;
	}
	&::-webkit-input-placeholder { color:silver; }
	&::-moz-placeholder { color:silver; } /* firefox 19+ */
	&:-ms-input-placeholder { color:silver; } /* ie */
	&:-moz-placeholder { color:silver; }
}
pre {
	margin:0px;
	padding:0px;
}
html, body {
	text-shadow:1px 1px 1px #151515;
	background:#222;
	background:url(/noisy_net.png) repeat;
	color:#dfdfdf;
	font-family:monospace;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	text-rendering:optimize-legibility;
	position:relative;
	font-size:13px;
	overflow:hidden;
}
h1 {
	font-size:1.7em;
}
h2 {
	font-size:1em;
}
h1, h2 {
	color:#999;
	font-family: 'Noto Sans', sans-serif;
	font-weight:normal;
	font-style:italic;
	border-bottom: 1px solid #444;
}
div > h1:first-child, div > h2:first-child, div > h3:first-child {
	margin-top:0px;
}
a {
	color:white;
	&:hover {
		color:white;
	}
	&:visited {
		color:#999;
	}
}

@keyframes activity {
  100% {
    background:transparent;
  }
 
  50% {
    background:rgba(40,40,111,0.9);
    box-shadow:inset 0px 0px 7px rgba(255,255,255,0.05);
  }

  0% {
  	background:transparent;
  }
}

@keyframes wiggle {
	100% {
		transform: rotate(0deg);
	}
	6% {
		transform: rotate(0deg);
	}
	4.5% {
		transform: rotate(-6deg);
	}
	3% {
		transform: rotate(6deg);
	}
	1.5% {
		transform: rotate(-6deg);
	}
	0% {
		transform: rotate(6deg);
	}
}

#main {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	max-height:100%;
	max-width:100%;
	padding-top:65px;
	box-sizing:border-box;
}

@mixin fancyButton {
	transition:all 0.25s ease-in-out;
	cursor:pointer;
	border:0;
	margin:0;
	padding:0.25em 0.75em;
	background:#111;
	text-transform: uppercase;
	color:#777;
	border:1px solid #333;
	font-size:1em;
	position:relative;
	&:hover {
		background:#111911;
		color:gold;
		border:1px solid #444;
	}
	&.active, &:active {
		background:#222;
		color:#AAA;
		border:1px solid #444;
	}
}

button {
	@include fancyButton;
}


nav {
	@include unselectable;
	box-shadow:inset 0px -1px 10px rgba(0,0,0,0.3);
	position: absolute;
	height:30px;
	z-index: 120;
	top:0;
	left:0;
	width:100%;
	background:rgba(0,0,0,0.4);
	h1 {
		transition:all 0.25s ease-in-out;
		font-size:1.3em;
		vertical-align: top;
		margin:0px;
		padding:0px;
		display:inline-block;
		border-bottom:0px;
		color:#bbb;
	}
	h1.button {
		max-height:100%;
		height:100%;
		float:left;
		cursor:pointer;
		transition:all 0.25s ease-in-out;
		padding:0.25em 1em;
		border-bottom:0px solid transparent;
		.button-description {
			display: inline-block;
			vertical-align: top;
			height:100%;

			transition:all 0.25s ease-in-out;
			display:inline-block;
/*			width:0px;
			opacity:0;*/
			overflow:hidden;
			margin-left:0;
		}
		i {
			transition:all 0.25s ease-in-out;
			display:inline-block;
			vertical-align: top;
			height:100%;
			line-height:1.4em;
		}
		&:hover {
			border-bottom:1px solid rgba(71,178,250,0.7);
/*			.button-description {
				width:75px;
				opacity:1;
				margin-left:1em;
			}
			.button-description.long {
				width:120px;
				opacity:1;
				margin-left:1em;
			}*/
		}
		&.active {
			border-bottom:0px;
			i {
				color:gold;
			}
		}

		&.activity {
			animation-name: activity;
			animation-iteration-count: infinite;
			animation-duration: 2.5s;
			i {
				animation-name: wiggle;
				animation-iteration-count: infinite;
				animation-duration: 5s;
			}
		}
		&:hover {
			color:#efefef;
			text-shadow:2px 2px 2px #252525;
			animation-name: none;
		}
	}
	h1.active {
		color:#efefef;
		background:#333;
		text-shadow:2px 2px 1px black;
		box-shadow:inset 0px 0px 5px -3px rgba(0,0,0,0.9),inset 0px -1px 10px rgba(0,0,0,0.3);
	}
	.options-list {
		float:right;
		position:relative;
		.options {
			display:none;
			position:absolute;
			top:30px;
			right:0;
			width:300px;
			background:rgba(0,0,0,0.85);
			padding:1em;
			.option {
				display:inline-block;
				margin:0.25em 0;
			}
		}
	}
}


header {
	@include unselectable;
	position:relative;
	z-index:100;
	height:65px;
	padding:1em;

	button {
		font-size:0.8em;
	}

	.channel-selector {
		> div {
			display:inline-block;
		}
		position: absolute;
		bottom: 0;
		left: 0;
		padding:0 0 0.5em 1em;
		font-size:0.8em;
		.channels {
			.channelBtn {
				text-transform:none;
				font-style:italic;
				margin-right:0.5em;
			}
		}
		.channelBtn {
			@include fancyButton;
			&.closable {
				padding-right:3em;
			}
			.close {
				transition:all 0.25s ease-in-out;
				height:100%;
				width:2em;
				font-size:0.8em;
				font-style:normal;
				background:rgba(0,0,0,0.55);
				display:block;
				position: absolute;
				top: 0;
				right: 0;
				vertical-align: middle;
				font-family: sans-serif;
				color:white;
				line-height: 225%;
				border-left:1px solid #222;
				&:hover {
					background:rgba(255,255,255,0.15);
				}
			}
			&.join {
				padding:0.25em 0.75em;
			}
		}
		input {
			display:none;
			@include cool-button;
			padding:0.25em 1em;
			font-size:1em;
			width:15em;
			min-width:15em;
			border: 1px solid transparent;
		}
	}
}

.header {
	font-family:'Noto Sans', sans-serif;
	position: relative;
	.count {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.75em;
		div	{
			display:inline-block;
			margin-left: 0.5em;
			&.active {
				.value {
					color:green;
				}
			}
			&.total {
				.value {
					color:yellow;
				}
			}
		}
	}
}
#panes {
	position:relative;
	z-index:1;
	& > section {
		height:100%;
		width:100%;
		overflow: hidden;
	}
	#coding, #drawing {
		display:none;
	}
}


#coding .codeClient {
	height:100%;
	overflow:hidden;
	.codelog {
		width:50%;
		float:left;
	}
	.replPANE {
		width:50%;
		float:right;
		word-break:break-word;
		& > div {
			height: 50%;
			padding:1em;
		}
		iframe {
			height:90%;
			width:100%;
		}
	}

	.CodeMirror {
		background:rgba(109,116,15,0.06);
		width:100%;
		height:100%;
	}
	.CodeMirror-scroll {
		box-sizing:content-box;
	}
	& > div {
		height:100%;
	}
	.editor {
		&:first-child .explanation {
			border-top-right-radius:1em;
		}
	}
	.editor {
		width:100%;
		height:50%;
		position:relative;
		.explanation {
			position:relative;
			z-index:10;
			height:30px;
			font-family:'Noto Sans', sans-serif;
			font-size:0.7em;
			padding: 0.5em 1em;
			background: #272822;
			border-bottom:1px solid #333;
			border-top:1px solid #333;
		}
		.textarea_container {
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			padding-top:30px;
			box-sizing:border-box;
			
			textarea {
				width:100%;
				height:100%;
			}
		}
	}
	.jsIframe {
		width:100%;
		height:50%;
	}
}

::-webkit-scrollbar {
	width:10px;
}
::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,0.3);
	box-shadow:inset 2px 2px 10px -1px rgba(0,0,0,0.95);
	border-radius:5px;
}

$supportbar-width: 300px;

#chatting {
	$chatinput-height:5em;
	.chatarea {
		position:relative;
		height:100%;
		padding-bottom:$chatinput-height;
		& > div {
			height:100%;
			padding-bottom:0;
		}
	}
	.chatChannel {
		&.inactive {
			display:none;
		}
	}
	.chatinput {
		width:100%;
		padding:1em;
		position:absolute;
		bottom:0;
		left:0;
		height:$chatinput-height;
		padding-right:$supportbar-width;
		textarea, input {
			resize: none;
			background:rgba(0,0,0,0.5);
			outline:none;
			width:100%;
			height:100%;
			max-width:100%;
			max-height:100%;
			min-width:100%;
			min-height:100%;
			padding:0.25em 2em;
			border-radius:10em;
			border:none;
			box-shadow:inset 2px 2px 1px rgba(0,0,0,0.55),inset -2px -2px 1px -1px rgba(0,0,0,0.3);
			position:relative;
			transition:background 0.25s ease-out, color 0.75s ease-out;
			&:focus {
				background:rgba(0,0,0,0.30);
				color:#efefef;
			}
			&::-webkit-input-placeholder { color:silver; }
			&::-moz-placeholder { color:silver; } /* firefox 19+ */
			&:-ms-input-placeholder { color:silver; } /* ie */
			&:-moz-placeholder { color:silver; }
		}
		textarea {
			padding-top:0.85em;
		}
	}

}

$room-specific-height: 30px;
.channel {
	height:100%;
	width:100%;
	padding-top: $room-specific-height;
}
.button-group {
	div {
		float:left;
		button {
			border-right:0px;
		}
	}
	div:first-child {
		button {
			border-top-left-radius:3px;
			border-bottom-left-radius:3px;
		}
	}
	div:last-child {
		button {
			border-right:1px solid #333;
			border-top-right-radius:3px;
			border-bottom-right-radius:3px;
		}
	}
	
}

.room-specific {
	height: $room-specific-height;
	width:100%;
	padding:0 1em;
	padding-right:$supportbar-width + 22px;
	position: absolute;
	top: 0;
	button {
		font-size: 0.8em;
	}
	.channel-options  {
		float:right;
	}
	.channel-name {
		display:none;
	}
	.room-name {
		font-style: italic;
		color:#888;
	}
}
.chatlog {
	overflow:hidden;
	max-height:100%;
	width:100%;
	padding-right:$supportbar-width;
	.messages {
		padding:1em;
		padding-bottom:0;
		width:100%;
		height:100%;
		overflow-y:auto;
	}
}
.supportbar {
	height:100%;
	width:$supportbar-width;
	position:absolute;
	top:0;
	right:0;
	padding:1em;
	padding-top:0px;
}
.userlist {
	height:20%;
	width:100%;
	overflow-y:auto;
	font-family: 'Noto Sans', sans-serif;
	.body {
		font-size:1em;
		i {
			margin-left:0.25em;
			font-size:1.3em;
		}
	}
	.idle > .zzz {
		bottom:0;
		opacity:1;
		font-size:1em;
		opacity:1;
		color:#bbb;
	}
	.zzz {
		color:inherit;
		font-size:0.75em;
		letter-spacing:-0.15em;
		position:relative;
		bottom:0.5em;
		opacity:0.75;
	}
}
.linklog {
	height:80%;
	width:100%;
	z-index:4;
	position:relative;
	overflow-y:auto;
	.body {
		padding-right:10px;
		overflow-x:hidden;
	}
	object {
		display:block;
		margin-bottom:1em;
		width:100%;
		height:auto;
	}
	a {
		display:block;
		margin-bottom:1em;
	}
}
.imageThumbnail {
	width:100%;
	max-width:100%;
	margin-bottom:1em;
	a {
		display:block;
	}
	img {
		width:100%;
		height:auto;
		border-radius:5px;
	}
}
body {
	&.suppress_join {
		.chatMessage.join, .chatMessage.part {
			display:none;
		}
	}
	&.highlight_mine {
		.chatMessage.me {
			background:rgba(120,120,220,0.1)
		}
	}
}
.chatMessage {
	transition:all 0.25s ease-in-out;
	height:auto;
	position:relative;
	&.fromlog {
		opacity:0.5;
	}
	overflow: hidden;
	margin:0 0 0.25em 0;
	&:nth-child(2n) {
		background:#2f2f2f;
		background:rgba(100,100,127,0.1);
	}
	&.highlight {
		background:#555;
		background:rgba(109,116,255,0.15);
		.time {
			color:#efefef;
		}
	}
	& > div {
		vertical-align: top;
		display:inline-block;
		padding:0.25em 0.5em;
	}

	.body {
		word-break:break-word;
		word-wrap:break-word;
		max-width:100%;
		pre {
			tab-size:3;
			white-space: pre-wrap;
			word-break:break-word;
		}
		width:100%;
		padding-left:9em;
		padding-right:8em;
	}
	.time {
		color:#666;
		position:absolute;
		top:0;
		right:0;
		width:8em;
		text-align:right;
	}

	.nick {
		position:absolute;
		top:0;
		left:0;
		text-align: right;
		color:#53D940;
		width:8em;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		&.system {
			color:#CC2222;
		}
		&.me {
			color:yellow;
		}
	}
}

#ghetto_templates {
	display:none;
}
.clearfix {
	display:block !important;
	clear:both;
}
.ident {
	font-family:sans-serif;
}
.ident.yes {
	color:green;
}
.ident.no {
	color:orange;
}
.ghost-cursor {
	position:absolute;
	width:1px;
	height:1em;
	box-shadow: 1px 1px 1px black;
	.user {
		position:absolute;
		top:-10px;
		z-index:20;
		left:0;
		font-size:0.7em;
		color:inherit;
		background:black;
	}
}

.tooltip-target {
	cursor:help;
	> * {
		cursor:help !important;
	}
}
.tooltip {
	z-index:1000;
	font-family:'Noto Sans', sans-serif;
	&.warn {
		.title {
			color:orange;
		}
	}
	&.success {
		.title {
			color:green;
		}
	}
	$title-color:rgba(109,116,255,0.15);
	$arrow-width:10px;
	$arrow-height:5px;
	position: absolute;
	background: #111;
	margin-top:10px;
	width: 16em;
	font-size: 1em;
	border-radius: 1em;
	margin-left: -8em;
	text-align: center;
	box-shadow:2px 2px 10px rgba(0,0,0,0.9);
	transition:opacity 0.2s ease-in-out;
	.title {
		padding:0.5em;
		background:$title-color;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		font-weight:bold;
	}
	.body {
		font-size:0.9em;
		margin:0.5em 1em 0.75em 1em;
		color:#ABABAB;
	}
	&::before {
		/* upward arrow */
		position: absolute;
		content: "";
		border-left: $arrow-width solid transparent;
		border-right: $arrow-width solid transparent;
		border-bottom: $arrow-height solid $title-color;
		width: 0px;
		height: 0px;
		box-sizing: content-box;
		top: -$arrow-height;
		left: 50%;
		margin-left: -$arrow-width;
	}
}


.drawingClient {
	@include unselectable;
	display:none;
	width:100%;
	height:100%;
	font-family: 'Noto Sans', sans-serif;
	.tools {
		position:absolute;
		height:100%;
		width:25px;
		background:rgba(0,0,0,0.25);
		z-index:10;
		font-size:20px;
		text-align: center;
		.tool {
			margin-bottom:0.5em;
			&:hover {
				background:rgba(255,255,255,0.3);
			}

			position: relative;
			.tool-options {
				position:absolute;
				left:0;
				top:0;
				padding-left:25px;
				&.active {
					.tool-options-contents {
						width:900px;
						height:auto;
						opacity:1;
					}
				}
			}
			.tool-options-contents {
				padding:5px;
				transition:all 0.25s ease-in-out;
				text-align: left;
				background:rgba(0,0,0,0.55);
				width:0px;
				height:0px;
				opacity:0;
				overflow:hidden;
			}
		}
		.explanation {
			font-size:0.7em;
		}
		.swatch {
			width:20px;
			height:20px;
			display:inline-block;
			margin-left:3px;
			background:black;
			cursor:hand;
			box-shadow:1px 1px 1px rgba(0,0,0,0.75);
		}
		i {
			width:100%;
			display:block;
		}
		.icon-pencil {
			color:gold;
		}
		.icon-eraser {
			color:pink;
		}
		.icon-tint {
			color:red;
		}
	}
	.drawarea {
		position:absolute;
		width:100%;
		padding-left:25px;
		height:100%;
		.canvas-area {
			width:100%;
			height:100%;
			position:relative;
		}
		canvas {
			cursor:crosshair;
			&:focus, &:active {
				cursor:crosshair;
			}
			position:absolute;
			top:0;
			left:0;
			&.feedback {
				z-index:2;
			}
			&.real {
				z-index:1;
			}
		}
		.paper {
			border-top-right-radius:10px;
			box-shadow: inset 0px 0px 100px rgba(0,0,0,0.55);
			position:absolute;
			width:1000px;
			height:1000px;
			z-index:0;
			background:url(/noisy_grid.png) repeat;
		}
	}
}