<html>
<head>
	<title>Chat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans:700,400italic,700italic,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav>
		<h1 class="button active" id="chatButton">
			<i class="icon-comments-alt"></i>
			<span class="button-description">Chat</span>
		</h1>
		<h1 class="button" id="codeButton">
			<i class="icon-code"></i>
			<span class="button-description">Code</span>
		</h1>
		<h1 class="button" id="drawButton">
			<i class="icon-pencil"></i>
			<span class="button-description">Draw</span>
		</h1>
		<div class="options-list">
			<div class="header">
				<h1 class="button global-options">
					<i class="icon-cogs"></i>
					<span class="button-description long">Global Options</span>
				</h1>
			</div>
			<div class="options">
				<div 
					data-tooltip-title="What's this?"
					data-tooltip-body="Load images and Youtube videos in the Media pane"
					class="tooltip-target option">
					<input checked id="autoload_media" type="checkbox" />
					<label for="autoload_media">Autoload Media</label>
				</div>
				<div class="option">
					<input id="suppress_join" type="checkbox" />
					<label for="suppress_join">Hide Join/Part Messages</label>
				</div>
				<div class="option">
					<input id="highlight_mine" type="checkbox" />
					<label for="highlight_mine">Highlight messages sent by me</label>
				</div>

			</div>
		</div>
	</nav>
	<header>

	</header>
	<section id="main">
		<section id="panes">
			<section id="chatting">

			</section>
			<section id="coding">
				
			</section>
			<section id="drawing">

			</section>
		</section>
	</section>
	<div id="ghetto_templates">
		<script id="chatMessageTemplate" type="text/template" class="template">
			<div class="chatMessage <%= classes %>" rel="<%= timestamp %>">
				<div data-timestamp="<%= timestamp %>" class="time"><%- humanTime %></div>
				<div class="nick <%= nickClasses %>" title="<%- nickname %>" style="color: <%= color %>"><%- nickname %></div>
				<div class="body"><%= body %></div>
			</div>
		</script>
		<script id="linkedImageTemplate" type="text/template" class="template">
			<div class="imageThumbnail">
				<a href="<%= url %>" target="_blank" title="Linked by <%- linker %>">
					<img src="<%= url %>" target="_blank" />
				</a>
			</div>
		</script>
		<script id="userListUserTemplate" type="text/template" class="template">
			<div class="user" rel="<%= cid %>">
				<span class="nick" style="color: <%= color %>"><%- nick %></span>
				<% if (identified) { %>
					<span
						data-tooltip-title="Identified"
						data-tooltip-body="This user has confirmed his identity with the server."
						data-tooltip-class="ident success"
						class='tooltip-target ident yes'>
							<i class="icon-lock"></i>
					</span>
				<% } else { %>
					<span
						data-tooltip-title="Not Identified"
						data-tooltip-body="This user has not confirmed his identity with the server.  He could be anyone!"
						data-tooltip-class="ident warn"
						class='tooltip-target ident no'>
							<i class="icon-unlock-alt"></i>
					</span>
				<% } %>
				<% if (idle === true) { %>
					<span class="idle" data-timestamp="<%= idleSince %>">
						<span class="zzz">Z
							<span class="zzz">Z
								<span class="zzz">Z
								</span>
							</span>
						</span>
					</span>
				<% } %>
			</div>
		</script>
		<script id="chatpanelTemplate" type="text/template" class="template">
			<section class="chatarea">

			</section>
			<section class="chatinput">
				<textarea placeholder="Say something..."></textarea>
			</section>
		</script>
		<script id="chatareaTemplate" type="text/template" class="template">
			<div class="room-specific">
				<span class="channel-name">
					<span class="room-name"><%- roomName %></span>
				</span>
				<span class="channel-topic">
					Topic: <span class="value">...</span>
				</span>
				<div class="channel-options">
					<div class="button-group">
						<div
							data-tooltip-title="What's this?"
							data-tooltip-body="This will delete your browser's local copy of the chat logs for this channel."
							class="tooltip-target option">
							<button class="deleteLocalStorage">Delete Logs</button>
						</div>
						<div
							data-tooltip-title="What's this?"
							data-tooltip-body="This will begin syncing any chats that you missed while you weren't connected to this channel."
							class="tooltip-target option">
							<button class="syncLogs">Sync Missed</button>
						</div>
					</div>
				</div>
			</div>
			<div class="chatlog">
				<div class="messages"></div>
			</div>
			<div class="supportbar">
				<div class="userlist">
					<div class="header">
						<h2>Users</h2>
						<div class="count">
							<div class="active">
								<span class="value"></span> active
							</div>
							<div class="total">
								<span class="value"></span> total
							</div>
						</div>
					</div>
					<div class="body">

					</div>
				</div>
				<div class="linklog">
					<div class="header">
						<h2>Media & Links</h2>
					</div>
					<div class="body">

					</div>
				</div>
			</div>
		</script>
		<script id="channelSelectorTemplate" type="text/template" class="template">
			<div class="channel-selector">
				<div class="channels">
				<% _.each(channels, function (name) { %>
					<button data-channel='<%- name %>' class='channelBtn closable'>
						<%- name %>
						<span class="close">X</span>
					</button>
				<% }); %>
				</div>
				<div class="join-channel">
					<button class="channelBtn join">+ join channel</button>
					<input class="channelName" placeholder="Type your channel name" />
				</div>
			</div>
		</script>
		<script id="jsCodeReplTemplate" type="text/template" class="template">
			<div class="codelog">
				<div class="editor">
					<div class="explanation">HTML/CSS</div>
					<div class="textarea_container">
						<textarea class="htmlEditor" name="html"></textarea>
					</div>
				</div>
				<div class="editor">
					<div class="explanation">JavaScript</div>
					<div class="textarea_container">
						<textarea class="jsEditor" name="code"></textarea>
					</div>
				</div>
			</div>
			<div class="replPANE">
				<div class="htmlREPL">
					<h2>HTML</h2>
					<iframe class="jsIframe" src="/codeframe.html" sandbox="allow-forms allow-scripts allow-same-origin"></iframe>
				</div>
				<div class="jsREPL">
					<h2>Result</h2>
					<div class="output"></div>
				</div>
			</div>
		</script>
		<script id="drawingTemplate" type="text/template" class="template">
			<div class="tools">
				<div class="tool pen">
					<i class="icon-pencil"></i>
					<div class="tool-options">
						<div class="tool-options-contents">
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="swatch"></div>
							<div class="explanation">"{" increases brush size.  "}" decreases brush size.  Better color picker hopefully coming soon!</div>
						</div>
					</div>
				</div>
				<!--
				<div class="tool eraser"><i class="icon-eraser"></i></div>
				<div class="tool color"><i class="icon-tint"></i></div>
				<div class="tool textarea"><i class="icon-quote-left"></i></div>
				-->
				<div class="tool trash"><i class="icon-trash"></i></div>
			</div>
			<div class="drawarea">
				<div class="canvas-area">
					<canvas class="feedback" width="1000" height="1000">

					</canvas>
					<canvas class="real" width="1000" height="1000">

					</canvas>
					<div class="paper">

					</div>
				</div>
			</div>
		</script>
		<span id="linklog-options" class="options">options</span>
		<div id="tooltip">
			<div class="tooltip">
				<div class="title"></div>
				<div class="body"></div>
			</div>
		</div>

	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/libs.min.js"></script>

<!--
	<script src='client/lib/backbone/backbone.js' type='text/javascript'></script>
	<script src='client/lib/codemirror-3.11/lib/codemirror.js' type='text/javascript'></script>
	<script src='client/lib/codemirror-3.11/mode/javascript/javascript.js' type='text/javascript'></script>
	<script src='client/lib/codemirror-3.11/mode/xml/xml.js' type='text/javascript'></script>
	<script src='client/lib/codemirror-3.11/mode/css/css.js' type='text/javascript'></script>
	<script src='client/lib/codemirror-3.11/mode/htmlmixed/htmlmixed.js' type='text/javascript'></script>
	<script src='client/client.js' type='text/javascript'></script>
	<script src='client/regex.js' type='text/javascript'></script>
	<script src='client/ui/Autocomplete.js' type='text/javascript'></script>
	<script src='client/ui/Notifications.js' type='text/javascript'></script>
	<script src='client/ui/Log.js' type='text/javascript'></script>
	<script src='client/ui/SyncedEditor.js' type='text/javascript'></script>
	<script src='client/CodeClient.js' type='text/javascript'></script>
	<script src='client/DrawingClient.js' type='text/javascript'></script>
	<script src='client/ui/Scrollback.js' type='text/javascript'></script>
	<script src='client/ui/ChatLog.js' type='text/javascript'></script>
	<script src='client/ChatClient.js' type='text/javascript'></script>
	<script src='client/ui/ChannelSwitcher.js' type='text/javascript'></script>
	<script src='client/ui.js' type='text/javascript'></script>
-->




	<script type="text/javascript" src="/echoplexus.min.js"></script>

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
	</div>
</body>
</html>